#code-editor{
    padding: 0;
    height: 500px;
    width: auto;
}

#code-editor>div:first-child h2{
    margin: 5px 0;
    display: inline-block;
}

#code-editor>div:first-child i{
    padding: 11px;
    width: 16px;
    box-sizing: content-box;
    text-align: center;
    cursor: pointer;
}
#code-editor.hiddenbox>div:first-child i::before{
    content: "\f054";
}

#code-editor.hiddenbox #monaco-container{
    display: none;
}

#code-editor.hiddenbox{
    height: fit-content;
}

#code-editor #monaco-container.fullscreen {
    position: fixed;
    top: 27.5px;
    left: 0;
    z-index: 200;
    width: 100%;
}