#code-editor{
    padding: 0;
    height: 500px;
    width: auto;
}

#code-editor h2{
    margin: 5px;
}

#monaco-container.fullscreen {
    position: fixed;
    top: 27.5px;
    left: 0;
    z-index: 200;
    width: 100%;
}