:root {
    --default-font: arial;

    --toolbar-sub-menu-width: 17em;
    --toolbar-item-height: calc(-10px - 1.15em);
    --toolbar-hover-safe-area: 25px;
    
    --box-border-radius: 10px;
    
    --dialog-dim-color: rgb(0 0 0 / 62%);
    --dialog-dim-fallback-color: rgb(0, 0, 0);

    --fieldset-border-radius: 7px;

    --input-border-radius: 5px;


    --scrollbar-width: 10px;
    --border: none;
}
