.flexbox{
    display: flex;
}
.grid .left {
    float: left;
}

.grid .right {
    float: right;
}

.flexbox>*{
    width: 100%;
}

@media screen and (max-width:700px) {
    .s3 {width: 25%; }
    .s4 {width: 33%; }
    .s6 {width: 50%; }
    .s8 {width: 66%; }
    .s9 {width: 75%; }
    .s12{width: 100%;}

    .grid .left,
    .grid .right{
        float: unset;
    }
    .flexbox.responsive,
    .flexbox.responsive-big{
        display: block;
    }
}

@media screen and (min-width:701px) and (max-width:1024px) {
    .m3 {width: 25%; }
    .m4 {width: 33%; }
    .m6 {width: 50%; }
    .m8 {width: 66%; }
    .m9 {width: 75%; }
    .m12{width: 100%;}

    .flexbox.responsive-big{
        display: block;
    }
}

@media screen and (min-width:1025px) {
    .l3 {width: 25%; }
    .l4 {width: 33%; }
    .l6 {width: 50%; }
    .l8 {width: 66%; }
    .l9 {width: 75%; }
    .l12{width: 100%;}
}