html,
body {
    background-color: var(--back-color);
    color: var(--text-color);
    padding: 0;
    margin: 0;
    font-family: var(--default-font);
    font-size: 16px;
}

.hidden {
    display: none !important;
}

* {
    box-sizing: border-box;
}

.no-float {
    float: unset;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.OVF-H {
    overflow: hidden;
}

body>.content {
    overflow: auto;
    height: calc( 100vh - 28.5px);
}
body>.content::-webkit-scrollbar-track {
    box-shadow: var(--main-scrollbar-shadow);
    background-color: var(--main-scrollbar-background);
}
body>.content::-webkit-scrollbar-corner {
    background-color: var(--main-scrollbar-background);
}

.full-height {
    height: 100%;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.inline.block {
    display: inline-block;
}

.noselect {
    user-select: none;
}

body {
    overflow: auto;
}

.cursor-text{
    cursor: text;
}

::selection {
    background-color: var(--selection-background);
}
::-moz-selection {
    background-color: var(--selection-background);
}

* {
    cursor: default;
    user-select: none;
}
.selectable, .selectable *{
    cursor: initial;
    user-select: text;
    
}

[contenteditable],
input[type=text],
textarea{
    cursor: text;
}

[contenteditable]:focus{
    outline: none;
    background-color: var(--contenteditable-focus-background);
}

.full-width{
    width: 100%;
}

.vertical-center>*{
    vertical-align: middle;
}