html,
body {
    background-color: var(--toolbar-background);
    color: var(--text-color);
    padding: 0;
    margin: 0;
    font-family: var(--default-font);
    font-size: 16px;
}

.hidden {
    display: none !important;
}

* {
    box-sizing: border-box;
}

.no-float {
    float: unset;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.OVF-H {
    overflow: hidden;
}

body>.content {
    overflow: auto;
    height: calc( 100vh - 28.5px);
    position: fixed;
    top: 28.5px;
    left: 0px;
    width: 100%;
    background-color: var(--back-color);
    padding: 10px;
    overflow: overlay;
}
body>.content::-webkit-scrollbar-track {
    box-shadow: var(--main-scrollbar-shadow);
    background-color: var(--main-scrollbar-background);
}
body>.content::-webkit-scrollbar-corner {
    background-color: var(--main-scrollbar-background);
}

.full-height {
    height: 100%;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.inline.block {
    display: inline-block;
}

.noselect {
    user-select: none;
}

body {
    overflow: auto;
}

.cursor-text{
    cursor: text;
}

::selection {
    background-color: var(--selection-background);
}
::-moz-selection {
    background-color: var(--selection-background);
}

*:not(.defaultCursor):not(.defaultCursor *) {
    cursor: default;
    user-select: none;
}
.selectable, .selectable *{
    cursor: initial;
    user-select: text;
    
}

[contenteditable],
input[type=text],
textarea{
    cursor: text;
}

[contenteditable]:focus:focus:focus:focus{ /* Use ':focus' four times to increase specificity */
    outline: none;
    background-color: var(--contenteditable-focus-background);
}

.full-width{
    width: 100%;
}

.vertical-center>*{
    vertical-align: middle;
}

kbd{
    border: 1px solid var(--text-color);
    border-radius: 5px;
    box-shadow: 0 2px var(--text-color);
    font-size: 0.9em;
    padding: 0 0.2em;
}

abbr {
    text-decoration: underline dotted 1px;
    cursor: help !important;
}
