.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    display: none;
    width: 120px;
    background-color: var(--tooltip-color);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 9;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    margin-bottom: 15px;
    border: var(--border);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

.tooltip:hover .tooltiptext {
    display: block;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: var(--tooltip-color) transparent transparent transparent;
}

.tooltiptext.bottom {
    bottom: unset;
    top: 100%;
    margin-bottom: 0;
    margin-top: 15px;
}

.tooltiptext.bottom::after {
    bottom: 100%;
    top: unset;
    border-color: transparent transparent var(--tooltip-color) transparent;
}