.tooltip {
    position: relative;
}

.tooltip>.tooltiptext {
    display: none !important;
    width: 120px;
    background-color: var(--tooltip-color);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 9;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    margin-bottom: 15px;
    border: var(--border);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

.tooltip:hover>.tooltiptext,
.tooltip>.tooltiptext.alwaysVisible {
    display: block !important;
}

.tooltip>.tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: var(--tooltip-color) transparent transparent transparent;
}

.tooltiptext.bottom {
    bottom: unset !important;
    top: 100%;
    margin-bottom: 0 !important;
    margin-top: 15px;
}

.tooltiptext.bottom::after {
    bottom: 100%;
    top: unset !important;
    border-color: transparent transparent var(--tooltip-color) transparent !important;
}

.tooltip>.tooltiptext.wide {
    width: 240px;
    margin-left: -120px;
}

.tooltiptext.left.small-indicator::after {
    top: 0;
    border-width: 8px;
    right: -16px;
}

.tooltiptext.left.small-indicator {
    border-top-right-radius: 0;
    margin-right: 5px;
}