#toolbar {
    background-color: var(--toolbar-background);
    margin: 0;
    z-index: 9;
    border-bottom: var(--border);
    white-space: nowrap;
}
#toolbar *{
    z-index: 9;
}
#toolbar .menuitem{
    position: relative;
}
#toolbar>.menuitem{
    display: inline-block;
}
#toolbar .menuitem .toolbar-button {
    background-color: var(--toolbar-background);
    color: var(--text-color);
    padding: 5px 10px;
    cursor: pointer;
    user-select: none;
    display: block;
}

#toolbar .menuitem .toolbar-button.disabled {
    opacity: 0.2;
    cursor: no-drop;
}

#toolbar .toolbar-button:hover:not(.disabled) {
    background-color: var(--toolbar-menuitem-hover);
}
#toolbar .toolbar-button:active:not(.disabled) {
    background-color: var(--toolbar-menuitem-active) !important;
}
#toolbar .menuitem:hover>.toolbar-button:not(.disabled){
    background-color: var(--toolbar-menuitem-hover);
}
#toolbar .menuitem .dropdown {
    width: var(--toolbar-sub-menu-width);
    background-color: var(--toolbar-background);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border:var(--border);
}
#toolbar .menuitem .dropdown-container{
    position: absolute; 
    display: none;
    z-index: 9;
}
#toolbar .menuitem .dropdown .dropdown{
    z-index: 2;
    margin-top: var(--toolbar-item-height);
}
#toolbar .menuitem>.dropdown-container {
    left: calc( 0px - var(--toolbar-hover-safe-area) );
    border: var(--toolbar-hover-safe-area) solid transparent;
    border-top: none;
}
#toolbar .menuitem .dropdown-container .dropdown-container{
    
    margin-left: var(--toolbar-sub-menu-width);
}
#toolbar .menuitem:hover>.dropdown-container,
#toolbar .menuitem.hashint>.dropdown-container{
    display: block;
}

#toolbar .dropdown hr{
    border: none;
    border-top: 1px solid var(--toolbar-separator-color);
}

.color-preview {
    display: inline-block;
    margin-top: -5px;
    margin-right: -10px;
    height: 28px;
    width: 28px;
    cursor: pointer !important;
    border: none;
}
.color-preview:focus{
    border-radius: 0 !important;
    outline: none;
}

.toolbar-button .float-right{
    vertical-align: middle;
}

#toolbar .menuitem .menuitem{
    white-space: nowrap;
}

.toolbar-button .fas,
.toolbar-button .far,
.toolbar-button .fab,
.toolbar-button .fa{
    position: relative;
    left: -5px;
    cursor: pointer;
}