.box{
    margin: 10px;
    border: 1px solid var(--box-border-color);
    border-radius: var(--box-border-radius);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
    background-color: var(--box-background);
}
.box h2 {
    user-select: none;
}
.box-placeholder{
    background-color: var(--back-color);
    min-height: 38px;
    min-width: 38px;
    border-style: dashed;
}
.box-row{
    min-height: 38px;
    min-width: 38px;
}
.box-row.empty{
    border: dotted 1px var(--box-border-color);
    margin: 0 10px;
    border-radius: var(--box-border-radius);
    opacity: 0.4;
}
.box-row.empty::after {
    content: "Move boxes here";
    margin: auto;
}