.box{
    border: 1px solid var(--box-border-color);
    border-radius: var(--box-border-radius);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
    background-color: var(--box-background);
}
.box h2 {
    user-select: none;
}
.box-placeholder{
    background-color: var(--back-color);
    min-height: 38px;
    min-width: 38px;
    border-style: dashed;
}
.box-header, .box-header *{
    cursor: move;
}
.box-row{
    min-height: 38px;
    min-width: 38px;
    max-width: calc( 100vw - 20px);
}
.box-row.empty{
    border: dotted 1px var(--box-border-color);
    border-radius: var(--box-border-radius);
    opacity: 0.4;
    display: flex !important;
}
.box-row.empty::after {
    content: "Move boxes here";
    margin: auto;
}
.box-row+.box-row {
    margin-top: 10px;
}

.flexbox .box + .box {
    margin-left: 10px;
}

.box-row:not(.flexbox) .box + .box{
    margin-top: 10px;
}

@media screen and (max-width:700px) {
    .flexbox.responsive .box + .box,
    .flexbox.responsive-big + .box{
        margin-left: 0;
        margin-top: 10px;
    }
}

@media screen and (min-width:701px) and (max-width:1024px) {
    .flexbox.responsive-big .box{
        margin-left: 0;
        margin-top: 10px;
    }
}