.box{
    margin: 10px;
    border: 1px solid var(--box-border-color);
    border-radius: var(--box-border-radius);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
    background-color: var(--box-background);
    overflow: hidden;
}
.box h2 {
    user-select: none;
}