#dialog {
    display: flex;
    padding: 50px;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--dialog-dim-fallback-color);
    background-color: var(--dialog-dim-color);
}

#dialog .content {
    background-color: var(--dialog-background-color);
    margin: auto;
    padding: 20px;
    max-width: 600px;
    border: var(--border);
}

#dialog .content .options{
    text-align: right;
    user-select: none;
    cursor: default;
    margin-top: 5px;
    margin-bottom: -5px;
    line-height: 44px;
}

#dialog .content .options .option{
    background-color: var(--toolbar-background);
    color: var(--text-color);
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-left: 10px;
    border: var(--border);
    user-select: inherit;
}
#dialog .content .options .option:hover{
    background-color: var(--toolbar-menuitem-hover);
}
#dialog .content .options .option:active{
    background-color: var(--toolbar-menuitem-active);
}
#dialog .content .options .option:focus{
    outline: none;
}

#dialog .content:not(.doNotTouchCss) textarea{
    width: 100%;
    resize: vertical;
    border: none;
    cursor: text;
    min-height: 20px;
    background-color: var(--dialog-textarea-background-color);
    color: var(--text-color);
}
#dialog .content textarea:focus{
    outline: none;
}
#dialog a{
    text-decoration: none;
    color: var(--dialog-link-color);
    cursor: pointer;
}
#dialog a:hover{
    text-decoration: underline var(--dialog-link-hover-underline-color);
}
#dialog pre {
    background: #00000021;
    overflow: auto;
    padding: 10px;
    user-select: initial;
}
