#pages-table-column {
    width: 100%;
}
#pages_table tr:not(:first-of-type) td:nth-child(2){
    user-select: text;
}
#pages_table tr:not(:first-of-type) td:nth-child(3){
    user-select: text;
}
#pages_table tr:not(:first-of-type) td:first-child{
    padding: 0;
}
#pages_table tr:not(:first-child) td:first-child{
    min-width: 165px;
    cursor: pointer;
}

#pages_table tr:last-child td:first-child{
    border-bottom-left-radius: var(--box-border-radius);
}
#pages_table tr:not(:first-child) td:first-child{
    min-width: 200px;
    cursor: pointer;
}

#pages-table-column>.box{
    overflow: visible;
}
#pages_table tr:last-child td:last-child{
    border-bottom-right-radius: var(--box-border-radius);
}

#pages_table tr:last-child .buttons>*:first-child button.button{
    border-bottom-left-radius: var(--box-border-radius);
}

#pages_table div.buttons{
    display: inline-block;
}

#pages-openclose-button {
    padding: 11px;
    width: 16px;
    box-sizing: content-box;
    text-align: center;
    cursor: pointer;
}

#pages_table.hiddenbox tr:not(:first-child),
#pages_table.hiddenbox tr:first-child th:not(:first-child),
#pages_table.hiddenbox #new_page_button {
    display: none;
}
#pages_table.hiddenbox tr:first-child{
    border-bottom:0;
}
#pages_table.hiddenbox #pages-openclose-button::before{
    content: "\f054";
}
