#pages_table tr:not(:first-of-type) td:nth-child(2){
    user-select: text;
}
#pages_table tr:not(:first-of-type) td:nth-child(3){
    user-select: text;
}
#pages_table tr:not(:first-of-type) td:first-child{
    padding: 0;
}
#pages_table td:first-child{
    min-width: 140px;
    cursor: pointer;
}

#pages-table-column{
    min-width: 350px;
}

#pages_table div.buttons{
    display: inline-block;
}
