#pages_table tr:not(:first-of-type) td:nth-child(2){
    user-select: text;
}
#pages_table tr:not(:first-of-type) td:nth-child(3){
    user-select: text;
}
#pages_table tr:not(:first-of-type) td:first-child{
    padding: 0;
}
#pages_table td:first-child{
    min-width: 165px;
    cursor: pointer;
}

#pages-table-column{
    min-width: 350px;
}

#pages_table div.buttons{
    display: inline-block;
}

#pages-openclose-button {
    padding: 11px;
    width: 16px;
    box-sizing: content-box;
    text-align: center;
    cursor: pointer;
}

#pages_table.hiddenbox tr:not(:first-child),
#pages_table.hiddenbox tr:first-child td:not(:first-child),
#pages_table.hiddenbox #new_page_button {
    display: none;
}
#pages_table.hiddenbox tr:first-child{
    border-bottom:0;
}
#pages_table.hiddenbox #pages-openclose-button::before{
    content: "\f054";
}