.button {
    background-color: var(--toolbar-background);
    color: var(--text-color);
}
.button:hover:not(:disabled):not(.noHoverEffect) {
    background-color: var(--toolbar-menuitem-hover);
}
.button:active:not(:disabled):not(.noRippleEffect) {
    background-color: var(--toolbar-menuitem-active) !important;
}
.button:focus{
    outline: none;
}
.button{
    border: none;
}

.size38{
    height: 37.5px;
    width: 38px;
}

/* Use specificity */
:disabled:disabled:disabled,:disabled:disabled:disabled *{
    cursor: not-allowed;
    opacity: 0.3;
    color: var(--text-color);
}

/* Use specificity to make this override a style defined in 'styles.css' */
.button.button, .button.button *{
    cursor: pointer;
}

.button.block:not(.inline){
    width: 100%;
}