#properties fieldset {
    border-radius: var(--fieldset-border-radius);
    border: 1px solid var(--fieldset-border-color);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
    margin: 0;
}

#properties fieldset,
#properties input:not([type=color]),
#properties-content>div.vertical-center {
    margin-bottom: 10px;
}

#properties input:not([type=color]):not([type=range]) {
    cursor: text;
    border-radius: var(--input-border-radius);
    border: 1px solid var(--input-border-color);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
    background-color: var(--input-color);
    color: var(--text-color);
    padding: .5em .5em;
}

#properties input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

    #properties input[type=number]::-webkit-inner-spin-button,
    #properties input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

#properties input[type=range]{
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--range-background-color);
    height: 10px;
    border-radius: 5px;
}

    #properties input[type=range]::-webkit-slider-thumb{
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        background-color: var(--range-thumb-color);
        border-radius: 7.5px;
        height: 15px;
        width: 15px;
        cursor: e-resize;
        border: var(--border);
    }

#properties input[type=color] {
    height: 16px;
    width: 16px;
    padding: 0;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid gray;
}

    #properties input[type=color]::-moz-color-swatch {
        border-radius: 8px;
    }

    ::-webkit-color-swatch {
        border: none;
    }
    
    ::-moz-color-swatch {
        border: none;
    }

#properties input.wrong {
    background-color: var(--wrong-input);
}

#properties input:focus {
    border-color: var(--input-focus-border-color) !important;
}

#properties :focus {
    outline: none;
}

#properties label {
    cursor: pointer;
}

#properties .flexbox input {
    margin-bottom: initial;
}

@media screen and (min-width:701px){
    #properties .flexbox.responsive:not(.responsive-big)>:not(:last-child) {
        margin-right: 5px;
    }
}
@media screen and (max-width:700px){
    #properties .flexbox.responsive:not(.responsive-big)>:not(:last-child) {
        margin-bottom: 5px;
    }
}
@media screen and (min-width:1025px){
    #properties .flexbox.responsive-big:not(.responsive)>:not(:last-child) {
        margin-right: 5px;
    }
}
@media screen and (max-width:1024px){
    #properties .flexbox.responsive-big:not(.responsive)>:not(:last-child) {
        margin-bottom: 5px;
    }
}
#properties .flexbox:not(.responsive):not(.responsive-big)>:not(:last-child) {
    margin-right: 5px;
}