#properties {
    width: 100%;
    min-width: 350px;
    position: relative;
}

#properties fieldset {
    border-radius: var(--fieldset-border-radius);
    border: 1px solid var(--fieldset-border-color);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
    margin: 0;
}

#properties fieldset,
#properties input:not([type=color]),
#properties-content>div.vertical-center {
    margin-bottom: 10px;
}

#properties input:not([type=color]):not([type=range]) {
    cursor: text;
    border-radius: var(--input-border-radius);
    border: 1px solid var(--input-border-color);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
    background-color: var(--input-color);
    color: var(--text-color);
    padding: .5em .5em;
}

#properties input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

    #properties input[type=number]::-webkit-inner-spin-button,
    #properties input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

#properties input[type=range]{
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--range-background-color);
    height: 10px;
    border-radius: 5px;
}

    #properties input[type=range]::-webkit-slider-thumb{
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        background-color: var(--range-thumb-color);
        border-radius: 7.5px;
        height: 15px;
        width: 15px;
        cursor: e-resize;
        border: var(--border);
    }

#properties input[type=color] {
    height: 16px;
    width: 16px;
    padding: 0;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid gray;
}

    #properties input[type=color]::-moz-color-swatch {
        border-radius: 8px;
    }

    ::-webkit-color-swatch {
        border: none;
    }
    
    ::-moz-color-swatch {
        border: none;
    }

#properties input.wrong {
    background-color: var(--wrong-input);
}

#properties input:focus {
    border-color: var(--input-focus-border-color) !important;
}

#properties :focus {
    outline: none;
}

#properties label {
    cursor: pointer;
}

#properties .flexbox input {
    margin-bottom: initial;
}

#properties .flexbox>* {
    margin: 2.5px;
}

#properties h2:first-child {
    margin: 0px;
    padding: 5px 0px;
    display: inline-block;
}

#properties>div:first-child{
    border-bottom: 1px solid var(--box-border-color);
}

#properties-content {
    height: 343px;
    z-index: 0;
    overflow: auto;
    padding: 10px;
    padding-bottom: 15px;
    width: 100%; /* Fixes a visual bug in some zoom levels */
}

#properties-shadow-top,
#properties-shadow-bottom {
    box-shadow: inset 0px 12px 5px var(--box-background);
    z-index: 2;
    position: absolute;
    height: 15px;
    width: calc(100% - var(--scrollbar-width));
}

#properties-shadow-bottom {
    box-shadow: inset 0px -12px 10px var(--box-background);
    top: 367px;
    border-bottom-left-radius: var(--box-border-radius);
}

#properties.hiddenbox div:last-child {
    display: none;
}

#properties.hiddenbox {
    height: fit-content;
}

#properties.hiddenbox div:first-child {
    border-bottom: none;
}

#properties-openclose-button {
    float: left;
    padding: 11px;
    width: 16px;
    text-align: center;
    box-sizing: content-box;
    cursor: pointer;
}

#properties.hiddenbox #properties-openclose-button::before {
    content: "\f054";
}