#properties {
    width: 100%;
    min-width: 350px;
    position: relative;
    min-height: 300px;
}

#properties h2:first-child {
    margin: 0px;
    padding: 5px 0px;
    display: inline-block;
}

#properties>div:first-child{
    border-bottom: 1px solid var(--box-border-color);
}

#properties-content {
    z-index: 0;
    overflow: auto;
    padding: 10px;
    padding-bottom: 15px;
    width: 100%; /* Fixes a visual bug in some zoom levels */
    height: 100%;
    position: absolute;
    top: 39px;
    left: 0;
    right: 0;
    height: inherit;
}

#properties-shadow-top,
#properties-shadow-bottom {
    box-shadow: inset 0px 12px 5px var(--box-background);
    z-index: 2;
    position: absolute;
    height: 15px;
    width: calc(100% - var(--scrollbar-width));
}

#properties-shadow-bottom {
    box-shadow: inset 0px -12px 10px var(--box-background);
    bottom: 0;
    border-bottom-left-radius: var(--box-border-radius);
}

#properties.hiddenbox div:last-child {
    display: none;
}

#properties.hiddenbox {
    height: fit-content;
    height: -moz-fit-content;
    min-width: 180px;
    min-height: unset;
}

#properties.hiddenbox #properties-header-details{
    display: none;
}

#properties.hiddenbox div:first-child {
    border-bottom: none;
}

#properties-openclose-button {
    float: left;
    padding: 11px;
    width: 16px;
    text-align: center;
    box-sizing: content-box;
    cursor: pointer !important;
}

#properties.hiddenbox #properties-openclose-button::before {
    content: "\f054";
}

#properties-header-details {
    margin: 10px;
    max-width: calc( 100% - 177px );
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    user-select: none;
}


.advanced-options.closed {
    height: 20px;
    margin: 10px 0;
    display: flex;
    cursor: pointer;
    position: relative;
}

.advanced-options.closed * {
    display: none !important;
}

.advanced-options.closed::after {
    content: "\f078";
    font-family: 'Font Awesome 5 Free';
    font-weight: bold;
    margin: auto;
}

.advanced-options.closed:hover {
    background: var(--toolbar-menuitem-hover);
}

.advanced-options.closed:active {
    background: var(--toolbar-menuitem-active);
}

.advanced-options.closed::before {
    box-sizing: content-box;
    content: "View advanced options";
    position: absolute;
    background: var(--tooltip-color);
    bottom: 100%;
    display: none;
    margin: 10px;
    right: calc(50% - 98px);
    width: 165px;
    padding: 5px;
    border-radius: 999em;
    box-shadow: 0 0 10px #00000036;
    opacity: 0;
    text-decoration: none;
    animation: tooltip-appear .1s ease-in 1s;
    animation-fill-mode: forwards;
}

.advanced-options.closed:hover::before {
     display: block;
}

@keyframes tooltip-appear{
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
