#properties {
    width: 100%;
    min-width: 350px;
    position: relative;
}

#properties h2:first-child {
    margin: 0px;
    padding: 5px 0px;
    display: inline-block;
}

#properties>div:first-child{
    border-bottom: 1px solid var(--box-border-color);
}

#properties-content {
    z-index: 0;
    overflow: auto;
    padding: 10px;
    padding-bottom: 15px;
    width: 100%; /* Fixes a visual bug in some zoom levels */
    height: 100%;
}

#properties-shadow-top,
#properties-shadow-bottom {
    box-shadow: inset 0px 12px 5px var(--box-background);
    z-index: 2;
    position: absolute;
    height: 15px;
    width: calc(100% - var(--scrollbar-width));
}

#properties-shadow-bottom {
    box-shadow: inset 0px -12px 10px var(--box-background);
    bottom: 0;
    border-bottom-left-radius: var(--box-border-radius);
}

#properties.hiddenbox div:last-child {
    display: none;
}

#properties.hiddenbox {
    height: fit-content;
    height: -moz-fit-content;
    min-width: 180px;
}

#properties.hiddenbox #properties-header-details{
    display: none;
}

#properties.hiddenbox div:first-child {
    border-bottom: none;
}

#properties-openclose-button {
    float: left;
    padding: 11px;
    width: 16px;
    text-align: center;
    box-sizing: content-box;
    cursor: pointer !important;
}

#properties.hiddenbox #properties-openclose-button::before {
    content: "\f054";
}

#properties-header-details {
    margin: 10px;
    max-width: calc( 100% - 177px );
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    user-select: none;
}
