:root[theme=dark-red]{
    --back-color: #130000;
    --text-color: #ffffff;
    
    --toolbar-background: #250000;
    --toolbar-menuitem-hover: #330000;
    --toolbar-menuitem-active: #3f0000;
    --toolbar-separator-color: #550000;
    
    --box-border-color: #550000;
    --box-background: #250000;
    
    --table-inner-border-color: #5c0000;
    --table-selected-row: #2c0000;

    --scrollbar-thumb: rgba(58, 0, 0, 0.74);
    --scrollbar-background: rgba(255, 0, 0, 0);
    --scrollbar-thumb-hover: rgba(83, 0, 0, 0.93);
    --main-scrollbar-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
    --main-scrollbar-background: 131313;

    --selection-background: rgb(243, 0, 0);
    --contenteditable-focus-background: #ff010142;
    
    --dialog-background-color: #180000;
    --dialog-link-color: rgb(255, 66, 66);
    --dialog-link-hover-underline-color: white;
    --dialog-textarea-background-color: #270000;
    
    --tooltip-color: #250000;
    
    --fieldset-border-color: #550000;
    --input-border-color: #550000;
    --input-focus-border-color: rgb(63, 0, 0);
    --input-color: #330000;

    --wrong-input: rgb(165, 0, 0);

    --range-background-color: rgb(90, 0, 0);
    --range-thumb-color: red;
    
    --code-editor-background: #200000;
}