:root[theme=dark-green]{
    --back-color: #001300;
    --text-color: #ffffff;
    
    --toolbar-background: #002500;
    --toolbar-menuitem-hover: #003300;
    --toolbar-menuitem-active: #003f00;
    --toolbar-separator-color: #005500;
    
    --box-border-color: #005500;
    --box-background: #002500;
    
    --table-inner-border-color: #005c00;

    --scrollbar-thumb: rgba(0, 58, 0, 0.74);
    --scrollbar-background: rgba(0, 255, 0, 0);
    --scrollbar-thumb-hover: rgba(0, 83, 0, 0.93);
    --main-scrollbar-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
    --main-scrollbar-background: 131313;

    --selection-background: rgb(0, 243, 0);
    --contenteditable-focus-background: #01ff0142;
    
    --dialog-background-color: #001800;
    --dialog-link-color: rgb(66, 255, 66);
    --dialog-link-hover-underline-color: white;
    --dialog-textarea-background-color: #002700;
    
    --tooltip-color: #002500;
    
    --fieldset-border-color: #005500;
    --input-border-color: #005500;
    --input-focus-border-color: rgb(0, 63, 0);
    --input-color: #003300;

    --wrong-input: darkred;

    --range-background-color: rgb(0, 90, 0);
    --range-thumb-color: rgb(0, 255, 0);
}