:root[theme=windows-10-UWP-dark-style] {
    --range-thumb-color: #444444;
    --dialog-textarea-background-color: #131313;
    --back-color: #000000;
    --box-border-radius: 0;
    --text-color: white;
    --box-background: black;
    --box-border-color: grey;
    --main-scrollbar-shadow: none;
    --input-color: #transparent;
    --fieldset-border-color: grey;
    --input-border-color: grey;
    --input-focus-border-color: #1a98cc;
    --scrollbar-width: 2px;
    --toolbar-background: #101010;
    --toolbar-menuitem-hover: rgb(255 255 255 / 15%);
    --toolbar-menuitem-active: #ffffff30;
    --table-selected-row: #0053a0;
    --table-inner-border-color: #151515;
    --tooltip-color: #58585838;
    --toolbar-separator-color: #ffffff1f;
    --scrollbar-thumb: grey;
    --scrollbar-background: transparent;
    --scrollbar-thumb-hover: white;
    --dialog-background-color: #000000;
    --dialog-link-color: #1fc8ff;
    --dialog-dim-color: #00000038;
    --dialog-link-hover-underline-color: white;
    --range-background-color: #444444;
    --contenteditable-focus-background: #ffffff42;
}

:root[theme=windows-10-UWP-dark-style] fieldset {
    border-width: 3px !important;
    border-radius: 0 !important;
}

:root[theme=windows-10-UWP-dark-style] #properties input:not([type=color]):not([type=range]),
:root[theme=windows-10-UWP-dark-style] #settings input:not([type=color]):not([type=range]),
:root[theme=windows-10-UWP-dark-style] #properties select,
:root[theme=windows-10-UWP-dark-style] #settings select,
:root[theme=windows-10-UWP-dark-style] #dialog textarea {
    border: 2px solid grey;
    border-radius: 0px;
}

:root[theme=windows-10-UWP-dark-style] #properties input:not([type=color]):hover,
:root[theme=windows-10-UWP-dark-style] #settings input:not([type=color]):hover,
:root[theme=windows-10-UWP-dark-style] #properties select:hover,
:root[theme=windows-10-UWP-dark-style] #settings select:hover,
:root[theme=windows-10-UWP-dark-style] #dialog textarea:hover {
    border-color: #a7a7a7;
}

:root[theme=windows-10-UWP-dark-style] ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

:root[theme=windows-10-UWP-dark-style] ::-webkit-scrollbar-track {
    background: transparent;
}

:root[theme=windows-10-UWP-dark-style] ::-webkit-scrollbar-thumb {
    background: transparent;
    transition: background-color 1.5s;
}

:root[theme=windows-10-UWP-dark-style] ::-webkit-scrollbar-thumb:hover {
    background: white !important;
}

:root[theme=windows-10-UWP-dark-style] :hover::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
}

:root[theme=windows-10-UWP-dark-style] #properties input[type=color],
:root[theme=windows-10-UWP-dark-style] #settings input[type=color]  {
    border-width: 2px;
}

:root[theme=windows-10-UWP-dark-style] #properties .vertical-center .far,
:root[theme=windows-10-UWP-dark-style] #settings .vertical-center .far {
    font-size: 1.5em;
    color: darkgrey;
}

:root[theme=windows-10-UWP-dark-style] #properties .vertical-center .far:hover,
:root[theme=windows-10-UWP-dark-style] #settings .vertical-center .far:hover {
    color: #e2e2e2;
}

:root[theme=windows-10-UWP-dark-style] #properties .vertical-center .far:active,
:root[theme=windows-10-UWP-dark-style] #settings .vertical-center .far:active {
    color: white;
}

:root[theme=windows-10-UWP-dark-style] button.button:hover {
    border: 2px solid grey;
}

:root[theme=windows-10-UWP-dark-style] button.button:active {
    border: 2px solid white;
}

:root[theme=windows-10-UWP-dark-style] #toolbar .toolbar-button:hover {
    background: rgb(255 255 255 / 15%);
}

:root[theme=windows-10-UWP-dark-style] #toolbar .toolbar-button:active {
    background: #ffffff30 !important;
}

:root[theme=windows-10-UWP-dark-style] #preview button:hover {
    padding: 3px !important;
}

:root[theme=windows-10-UWP-dark-style] .tooltiptext {
    backdrop-filter: blur(10px)
}

:root[theme=windows-10-UWP-dark-style] :not(input):not(textarea):not(select):focus,
:root[theme=windows-10-UWP-dark-style] input[type=color]:focus {
    outline: 2px white solid !important;
    outline-offset: 2px;
}

:root[theme=windows-10-UWP-dark-style] #properties input:not([type=color]):focus,
:root[theme=windows-10-UWP-dark-style] #settings input:not([type=color]):focus,
:root[theme=windows-10-UWP-dark-style] #settings select:focus,
:root[theme=windows-10-UWP-dark-style] #dialog textarea:focus {
    background: white;
    color: black;
}

:root[theme=windows-10-UWP-dark-style] #toolbar .dropdown {
    background-color: #0a0a0ad1;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
}

:root[theme=windows-10-UWP-dark-style] #toolbar .dropdown .dropdown {
    background: #101010;
}
@supports not ((-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))){
    :root[theme=windows-10-UWP-dark-style] #toolbar .dropdown {
        background: #101010;
    }
}

:root[theme=windows-10-UWP-dark-style] #toolbar .toolbar-button {
    background: transparent;
}

:root[theme=windows-10-UWP-dark-style] #dialog {
    backdrop-filter: blur(10px);
}

:root[theme=windows-10-UWP-dark-style] #properties input[type=range],
:root[theme=windows-10-UWP-dark-style] #settings input[type=range] {
    height: 2px;
    margin-top: 15px;
    margin-bottom: 15px;
}

:root[theme=windows-10-UWP-dark-style] #properties input[type=range]::-webkit-slider-thumb,
:root[theme=windows-10-UWP-dark-style] #settings input[type=range]::-webkit-slider-thumb {
    height: 23px;
    width: 8px;
}

:root[theme=windows-10-UWP-dark-style] #properties input[type=range]:hover::-webkit-slider-thumb,
:root[theme=windows-10-UWP-dark-style] #settings input[type=range]:hover::-webkit-slider-thumb {
    background: #dedede;
}
:root[theme=windows-10-UWP-dark-style] #properties input[type=range]:hover::-webkit-slider-runnable-track:right,
:root[theme=windows-10-UWP-dark-style] #properties input[type=range]:hover::-webkit-slider-runnable-track:right {
    background: #858585;
}

:root[theme=windows-10-UWP-dark-style] [contenteditable]:focus:focus:focus:focus{
    outline: none !important;
}