#preview{
    padding: 0;
    width: fit-content;
}
canvas.sharpZoom{
    /* https://stackoverflow.com/a/38747615/13561926, with some modifications*/
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

#preview.hiddenbox>*:not(:first-child) {
    display: none;
}

#preview.hiddenbox {
    height: fit-content;
    height: -moz-fit-content;
    min-width: 150px;
    width: 150px;
}

#preview-openclose-button {
    padding: 11px;
    width: 16px;
    box-sizing: content-box;
    text-align: center;
    cursor: pointer;
}

#preview.hiddenbox #preview-openclose-button::before {
    content: "\f054";
}