#elements_table tr:last-child .buttons>*:first-child button.button {
    border-bottom-left-radius: var(--metabox-border-radius);
}
#elements_table tr:last-child td:first-child {
    border-bottom-left-radius: var(--metabox-border-radius);
}
#elements_table tr:first-child td:first-child {
    border-top-left-radius: var(--metabox-border-radius);
}
#elements_table tr:last-child td:last-child {
    border-bottom-right-radius: var(--metabox-border-radius);
}
#elements_table tr:first-child td:last-child {
    border-top-right-radius: var(--metabox-border-radius);
}
#elements_table tr:not(:first-of-type) td:nth-child(2){
    user-select: text;
}
#elements_table tr:not(:first-of-type) td:nth-child(3){
    user-select: text;
}
#elements_table tr:not(:first-of-type) td:first-child{
    padding: 0;
}
#elements_table td:first-child{
    min-width: 140px;
}

#elements-table-column{
    min-width: 370px;
}