#elements_table tr:last-child .buttons>*:first-child button.button {
    border-bottom-left-radius: var(--box-border-radius);
}
#elements_table tr:not(:first-of-type) td:nth-child(2){
    user-select: text;
}
#elements_table tr:not(:first-of-type) td:nth-child(3){
    user-select: text;
    max-width: 300px;
    white-space: nowrap;
    overflow: overlay;
}
#elements_table tr:not(:first-of-type) td:nth-child(3)::-webkit-scrollbar {
    height: 7px;
}

#elements_table tr:not(:first-of-type) td:first-child{
    padding: 0;
}
#elements_table tr:last-child td:first-child{
    border-bottom-left-radius: var(--box-border-radius);
}
#elements_table tr:not(:first-child) td:first-child{
    min-width: 200px;
    cursor: pointer;
}

#elements-table-column{
    min-width: min-content;
    min-width: fit-content;
    width: 100%;
}

#elements-table-column>.box{
    overflow: visible;
}
#elements-table-column tr:last-child td:last-child{
    border-bottom-right-radius: var(--box-border-radius);
}

#elements_table div.buttons{
    display: inline-block;
}

#elements-openclose-button {
    padding: 11px;
    width: 16px;
    box-sizing: content-box;
    text-align: center;
    cursor: pointer;
}

#elements_table.hiddenbox tr:not(:first-child),
#elements_table.hiddenbox tr:first-child th:not(:first-child),
#elements_table.hiddenbox #new_element_button {
    display: none;
}
#elements_table.hiddenbox tr:first-child{
    border-bottom:0;
}
#elements_table.hiddenbox #elements-openclose-button::before{
    content: "\f054";
}
